<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512757789677-npu5surunb3pt8akpbaho6qjpt3tspfk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512757789677-npu5surunb3pt8akpbaho6qjpt3tspfk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>512757789677-2nb01qdehu2u97n3uclrhto4qc602alq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCte7uPiL4lJRfk72TaJ13cH5oUOhpUtqE</string>
	<key>GCM_SENDER_ID</key>
	<string>512757789677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.pibble.Pibble</string>
	<key>PROJECT_ID</key>
	<string>pibble-project</string>
	<key>STORAGE_BUCKET</key>
	<string>pibble-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512757789677:ios:c89510922a6879a6</string>
	<key>DATABASE_URL</key>
	<string>https://pibble-project.firebaseio.com</string>
</dict>
</plist>